<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ha.rigfox.appforfanzil" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Abitur!"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="Abitur!" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Result"
            android:label="@string/title_activity_result" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ha.rigfox.appforfanzil.MainActivity" />
        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ha.rigfox.appforfanzil.MainActivity" />
        </activity>
    </application>

</manifest>
